*{
	margin: 0;padding: 0;box-sizing: border-box;
	font-family: 'Carter One', cursive;
}

header{
	width: 100%; height: 100vh;
	background-image:linear-gradient(rgba(0, 0, 0, 0.712),rgba(0,0,0,0.3)),url('corona.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

main{
	width: 100%;
	height:80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;color:white;
}

section h3{
	font-size: 35px; font-weight: 100; letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;

}

section h1{
	font-size: 55px;
	font-weight: 700;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;
}
section p{
    font-size: 25px;
	word-spacing:  2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;

}

section a{
	padding: 15px 35px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size:13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	}


section .btntwo{
	background: #00b894;
	color: white;

}

