<!DOCTYPE html>
<html lang="en" dir="ltr">
	<title>Registration</title>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
		
<body>
	
	<header>
		     <main>
				<section>
                   
					<h1>Successfully registered !!</h1><br><br>
					<h3><span class="change_content"></span></h3>
					<p>"You have successfully been registered for Vaccine availability notifier !"</p><br><br>
					<a href="https://github.com/khanfarhan10/VaccineAvailabilityNotifier" class="btntwo">Click here to star us on github</a>
				    <br> <img src="https://img.icons8.com/color/50/000000/github.png"/>
				</section>
                </main>
			
		</nav>
	</header>

</body>
</html>